@charset "UTF-8"
@import url("https://fonts.googleapis.com/css2?family=Poppins:wgth@200;300");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root {
    --cor-primaria: #f6f7fb;
    --cor-branca: #fff;
    --cor-preta: #18191a;
    --cor-vermelha: #e74c3c;

}



body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
}

body.dark {
    
    --cor-primaria: #18191a; /* Cor de fundo para o modo escuro */
    --cor-branca: #f6f7fb; /* Cor de texto para o modo escuro */
    --cor-preta: #fff; /* Cor de fundo para o modo escuro */
    --cor-vermelha: #ff0000; /* Cor de destaque para o modo escuro */
    
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.container .relogio {
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: var(--cor-branca);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1), 0 -3px 45px rgba(0, 0, 0, 0.1);
    position: relative;
}

.relogio label {
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg / 12)));
}

.relogio label span {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: var(--cor-preta);
    transform: rotate(calc(var(--i) * (-360deg / 12)));
}

.container .indicador {
    position: absolute;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
}

.indicador::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
    background:var(--cor-preta);
    border: 4px solid var(--cor-vermelha);
}

.indicador .hand {
    position: absolute;
    height: 130px;
    width: 4px;
    bottom: 0;
    border-radius: 25px;
    transform-origin: bottom;
    background: var(--cor-vermelha);
}

.hand .minute {
    height: 120px;
    width: 5px;
    background-color: var(--cor-preta);
}

.hand .hour {
    height: 100px;
    width: 8px;
    background: var(--cor-preta);
}

.mode-switch {
    padding:  10px 20px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    color: var(--cor-branca);
    background: var(--cor-preta);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: var(--cor-branca); /* Definindo a cor do texto como branca */
}

.mode-switch.dark {
    color: var(--cor-preta); 
}


